<header class="header-web fondo-azul">
    <div class="container">
        <div class="" style="display: flex; justify-content: space-between;">
            <a href="">
                <img src="../../../assets/img/linker-logo-white.png" class="img-fluid">
            </a>
            <div>
                <a (click)="irEmpresa()" style="cursor: pointer;" class="btn_reclutadores">
                    Reclutadores ¡Publica ofertas gratis!
                </a>
                <a style="cursor: pointer;" class="btn_crearcv">
                    Crear CV
                </a>
            </div>
        </div>
        
    </div>
</header>

<main>
<div style="border-radius: 0 0 50% 50%/0 0 30% 30%; overflow: hidden;" class="fondo-azul">
    <div class="container box-home">
        <div class="row">
            <p style="color: white; font-weight: bold; font-size: 1.6rem;" class="text-center mt-5">¡Ahora es el momento de cambiar!</p>

            <p style="color: white; font-size: 1.2rem; bottom: 0;" class="text-center mt-5">Encuentra el empleo que encaja contigo, más de <b> 41.729 </b> ofertas</p>
        </div>
    </div>
</div>

<div class="linea-gris" style="padding-top: 140px;"></div>

<div class="mt-4">

    <div class="container">
        <div class="row text-center">
            <div class="col-2">
                <div style="border:1px solid #e1e1e1; border-radius: 15px; padding: 5px 5px; margin-top: 20px;">
                    <img src="https://images.computrabajo.com/2023/02/01/logosPE/gss-162x88.png" style="width: 60%;">
                </div>
                
            </div>
            <div class="col-2">
                <div style="border:1px solid #e1e1e1; border-radius: 15px; padding: 5px 5px; margin-top: 20px;">
                    <img src="https://images.computrabajo.com/2023/02/01/logosPE/mibanco-162x88.png" style="width: 60%;">
                </div>
                
            </div>
            <div class="col-2">
                <div style="border:1px solid #e1e1e1; border-radius: 15px; padding: 5px 5px; margin-top: 20px;">
                    <img src="https://images.computrabajo.com/2023/02/01/logosPE/gelarti-162x88.png" style="width: 60%;">
                </div>
                
            </div>
            <div class="col-2">
                <div style="border:1px solid #e1e1e1; border-radius: 15px; padding: 5px 5px; margin-top: 20px;">
                    <img src="https://images.computrabajo.com/2023/02/01/logosPE/tambo-162x88.png" style="width: 60%;">
                </div>
                
            </div>
            <div class="col-2">
                <div style="border:1px solid #e1e1e1; border-radius: 15px; padding: 5px 5px; margin-top: 20px;">
                    <img src="https://images.computrabajo.com/2023/02/01/logosPE/gruponorte-162x88.png" style="width: 60%;">
                </div>
                
            </div>
            <div class="col-2">
                <div style="border:1px solid #e1e1e1; border-radius: 15px; padding: 5px 5px; margin-top: 20px;">
                    <img src="https://images.computrabajo.com/2023/02/01/logosPE/losportales-162x88.png" style="width: 60%;">
                </div>
                
            </div>
            <div class="col-2">
                <div style="border:1px solid #e1e1e1; border-radius: 15px; padding: 5px 5px; margin-top: 20px;">
                    <img src="https://images.computrabajo.com/2023/02/01/logosPE/mill-162x88.png" style="width: 60%;">
                </div>
                
            </div>
            <div class="col-2">
                <div style="border:1px solid #e1e1e1; border-radius: 15px; padding: 5px 5px; margin-top: 20px;">
                    <img src="https://images.computrabajo.com/2023/02/01/logosPE/mission-162x88.png" style="width: 60%;">
                </div>
                
            </div>
            <div class="col-2">
                <div style="border:1px solid #e1e1e1; border-radius: 15px; padding: 5px 5px; margin-top: 20px;">
                    <img src="https://images.computrabajo.com/2023/02/01/logosPE/tottus-162x88.png" style="width: 60%;">
                </div>
                
            </div>
            <div class="col-2">
                <div style="border:1px solid #e1e1e1; border-radius: 15px; padding: 5px 5px; margin-top: 20px;">
                    <img src="https://images.computrabajo.com/2023/02/01/logosPE/utp-162x88.png" style="width: 60%;">
                </div>
                
            </div>
            <div class="col-2">
                <div style="border:1px solid #e1e1e1; border-radius: 15px; padding: 5px 5px; margin-top: 20px;">
                    <img src="https://images.computrabajo.com/2023/02/01/logosPE/dinet-162x88.png" style="width: 60%;">
                </div>
                
            </div>
            <div class="col-2">
                <div style="border:1px solid #e1e1e1; border-radius: 15px; padding: 5px 5px; margin-top: 20px;">
                    <img src="https://images.computrabajo.com/2023/02/01/logosPE/promart-162x88.png" style="width: 60%;">
                </div>
                
            </div>

            <p style="margin-top: 80px; font-size: 1.2rem;">Hoy hay <b> 7.503 </b> empresas contratando con las mejores vacantes para ti</p>
            <button class="mx-auto mt-3 btn-ver-empresas"> Ver empresas </button>
        </div>
    </div>
</div>

<div class="linea-gris" style="padding-top: 60px;"></div>

<div class="mt-4">
    <div class="container">
        <div class="row text-center">
            <p style="font-size: 2rem; margin-bottom: 0.1rem;" class="mt-3">Si buscas trabajo ¡Computrabajo es tu mejor aliado!</p>
            <p style="font-size: 1.2rem;"> Miles de ofertas de empleo están esperándote </p>
        </div>

        <div class="row mt-5">
            <div class="col-4 text-center">
                <img src="https://cp.ct-stc.com/web/20230601.01/c/img/encontrar_empleo.webp">
            </div>
            <div class="col-8">
                <p style="font-size: 2rem; margin-bottom: 0.1rem;">Te ayudamos a encontrar un empleo mejor</p>
                <p style="font-size: 1.2rem;">Haz que tu currículum sea visible para miles de empresas en nuestra bolsa de trabajo</p>

                <ul style="list-style: none; line-height: 2;" class="mt-4">
                    <li> <i class="fa-solid fa-check" style="color: #7bac43;"></i> <b> Registro gratuito.</b> Encuentra tu próximo trabajo hoy. </li>
                    <li> <i class="fa-solid fa-check" style="color: #7bac43;"></i> <b> Ofertas cada día. </b> Empleos que se ajustan a tu perfil. </li>
                    <li> <i class="fa-solid fa-check" style="color: #7bac43;"></i> <b> Alertas personalizadas. </b> Tú crea alertas de empleo y nosotros te avisaremos. </li>
                    <li> <i class="fa-solid fa-check" style="color: #7bac43;"></i> <b> Completa tu perfil. </b> Muéstrate profesional y ganarás visibilidad. </li>
                </ul>

                <button class="mx-auto mt-3 btn-azul"> Crea tu cuenta gratis </button>
            </div>
        </div>
    </div>
</div>

<div class="linea-gris" style="padding-top: 60px;"></div>

<div class="mt-4">
    <div class="container">
        <div class="row text-center">
            <p style="font-size: 2rem; margin-bottom: 0.1rem; color: #313944;" class="mt-3">Publica tus ofertas en el portal de empleo con mayor</p>
            <p style="font-size: 2rem; color: #313944;"> audiencia en Latinoamérica </p>

            <div class="col-4 mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-3 d-flex justify-content-end align-items-center">
                            <i class="fa-solid fa-bolt" style="color: #F18EA2; font-size: 3rem;"></i>
                        </div>
                        <div class="col-9 text-start">
                            <p style="font-size: 1.2rem; margin-bottom: 2px;">Publica tu vacante</p>
                            <p style="font-size: 1rem; color: #4B5968;">Crea fácilmente tu oferta de trabajo y publícala en un click.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-3 d-flex justify-content-end align-items-center">
                            <i class="fa-regular fa-eye-slash" style="color: #59BAA8; font-size: 3rem;"></i>
                        </div>
                        <div class="col-9 text-start">
                            <p style="font-size: 1.2rem; margin-bottom: 2px;">Revisa las postulaciones</p>
                            <p style="font-size: 1rem; color: #4B5968;">Selecciona a los mejores candidatos entre todos los CVs recibidos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-3 d-flex justify-content-end align-items-center">
                            <i class="fa-regular fa-star" style="color: #FCC63B; font-size: 3rem;"></i>
                        </div>
                        <div class="col-9 text-start">
                            <p style="font-size: 1.2rem; margin-bottom: 2px;">Contrata</p>
                            <p style="font-size: 1rem; color: #4B5968;">Encuentra al candidato que mejor se adapta al perfil buscado.</p>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

    <div class="text-center ">
        <button class="mt-5 btn-azul"> Publica gratis tus ofertas </button>
    </div>

    <div class="linea-gris" style="padding-top: 60px;"></div>

    <div class="mt-4">
        <div class="container">
            <div class="row">
                <p> Bolsa de empleo según: </p>

                <div class="col-12 mt-4">
                    
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active menu-tab-gris" href="#tab1" data-bs-toggle="tab"> Localización </a>
                        </li>
                        <li class="nav-item" style="padding-left: 15px;">
                            <a class="nav-link menu-tab-gris" href="#tab2" data-bs-toggle="tab"> Cargos profesionales </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab1">
                          <div class="container">
                            <div class="row p-1" style="color: #4B5968;">
                                <div class="col-3 mt-3">
                                    <p>Empleos en Lima</p>
                                    <ul style="list-style: none; line-height: 2; padding-left: 0.5rem;">
                                        <li> <span class="check-gris"></span> Empleos en Lima </li>
                                        <li> <span class="check-gris"></span> Empleos en Miraflores </li>
                                        <li> <span class="check-gris"></span> Empleos en San Isidro </li>
                                    </ul>
                                </div>

                                <div class="col-3 mt-3">
                                    <p>Empleos en Arequipa</p>
                                    <ul style="list-style: none; line-height: 2; padding-left: 0.5rem;">
                                        <li> <span class="check-gris"></span> Empleos en Arequipa </li>
                                        <li> <span class="check-gris"></span> Empleos en Cerro Colorado </li>
                                        <li> <span class="check-gris"></span> Empleos en Yanahuara </li>
                                    </ul>
                                </div>

                                <div class="col-3 mt-3">
                                    <p>Empleos en Callao</p>
                                    <ul style="list-style: none; line-height: 2; padding-left: 0.5rem;">
                                        <li> <span class="check-gris"></span> Empleos en Callao </li>
                                        <li> <span class="check-gris"></span> Empleos en Bellavista </li>
                                        <li> <span class="check-gris"></span> Empleos en Ventanilla </li>
                                    </ul>
                                </div>

                                <div class="col-3 mt-3">
                                    <p>Empleos en La Libertad</p>
                                    <ul style="list-style: none; line-height: 2; padding-left: 0.5rem;">
                                        <li> <span class="check-gris"></span> Empleos en Trujillo </li>
                                        <li> <span class="check-gris"></span> Empleos en Pataz </li>
                                        <li> <span class="check-gris"></span> Empleos en Viru </li>
                                    </ul>
                                </div>

                                <div class="col-3 mt-3">
                                    <p>Empleos en Piura</p>
                                    <ul style="list-style: none; line-height: 2; padding-left: 0.5rem;">
                                        <li> <span class="check-gris"></span> Empleos en Trujillo </li>
                                        <li> <span class="check-gris"></span> Empleos en Pataz </li>
                                        <li> <span class="check-gris"></span> Empleos en Viru </li>
                                    </ul>
                                </div>

                                <div class="col-3 mt-3">
                                    <p>Empleos en Ica</p>
                                    <ul style="list-style: none; line-height: 2; padding-left: 0.5rem;">
                                        <li> <span class="check-gris"></span> Empleos en Trujillo </li>
                                        <li> <span class="check-gris"></span> Empleos en Pataz </li>
                                        <li> <span class="check-gris"></span> Empleos en Viru </li>
                                    </ul>
                                </div>

                                <div class="col-3 mt-3">
                                    <p>Empleos en Lambayeque</p>
                                    <ul style="list-style: none; line-height: 2; padding-left: 0.5rem;">
                                        <li> <span class="check-gris"></span> Empleos en Trujillo </li>
                                        <li> <span class="check-gris"></span> Empleos en Pataz </li>
                                        <li> <span class="check-gris"></span> Empleos en Viru </li>
                                    </ul>
                                </div>

                                <div class="col-3 mt-3">
                                    <p>Empleos en Cusco</p>
                                    <ul style="list-style: none; line-height: 2; padding-left: 0.5rem;">
                                        <li> <span class="check-gris"></span> Empleos en Trujillo </li>
                                        <li> <span class="check-gris"></span> Empleos en Pataz </li>
                                        <li> <span class="check-gris"></span> Empleos en Viru </li>
                                    </ul>
                                </div>

                                <div class="col-3 mt-3">
                                    <p>Empleos en Junin</p>
                                    <ul style="list-style: none; line-height: 2; padding-left: 0.5rem;">
                                        <li> <span class="check-gris"></span> Empleos en Trujillo </li>
                                        <li> <span class="check-gris"></span> Empleos en Pataz </li>
                                        <li> <span class="check-gris"></span> Empleos en Viru </li>
                                    </ul>
                                </div>

                                <div class="col-3 mt-3">
                                    <p>Empleos en Ancash</p>
                                    <ul style="list-style: none; line-height: 2; padding-left: 0.5rem;">
                                        <li> <span class="check-gris"></span> Empleos en Trujillo </li>
                                        <li> <span class="check-gris"></span> Empleos en Pataz </li>
                                        <li> <span class="check-gris"></span> Empleos en Viru </li>
                                    </ul>
                                </div>

                                <div class="col-3 mt-3">
                                    <p>Empleos en Cajamarca</p>
                                    <ul style="list-style: none; line-height: 2; padding-left: 0.5rem;">
                                        <li> <span class="check-gris"></span> Empleos en Trujillo </li>
                                        <li> <span class="check-gris"></span> Empleos en Pataz </li>
                                        <li> <span class="check-gris"></span> Empleos en Viru </li>
                                    </ul>
                                </div>

                                <div class="col-3 mt-3">
                                    <p>Empleos en Puno</p>
                                    <ul style="list-style: none; line-height: 2; padding-left: 0.5rem;">
                                        <li> <span class="check-gris"></span> Empleos en Trujillo </li>
                                        <li> <span class="check-gris"></span> Empleos en Pataz </li>
                                        <li> <span class="check-gris"></span> Empleos en Viru </li>
                                    </ul>
                                </div>
                            </div>
                          </div>
                        </div>

                        <div class="tab-pane fade" id="tab2">
                            <div class="container">
                                <div class="row p-4" style="color: #4B5968;">
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de call center</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de promotor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de agente de seguridad</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>

                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>

                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
    
                                    <div class="col-3 mt-1">
                                        <p>Empleos de asesor/a de ventas</p>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="linea-gris" style="padding-top: 40px;"></div>

    <div class="mt-4">
        <div class="container">
            <div class="row text-center p-3">
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <span style="color: #4B5968;"> Copyright 2023 </span>
                </div>
                <div class="col-6">
                    <ul style="margin: 0;
                    list-style: none;
                    padding: 0;">

                        <li class="d-inline ps-2">
                          <a href="#facebook" class="" style="display: inline-block; vertical-align: middle; position: relative; border:1px solid #E3E7EC;
                          background-color: #fff;
                          width:0;
                          border-radius:30px;
                          width:40px;
                          height:40px;"><i class="fa-brands fa-twitter" style="line-height:40px; color: #2D3D49;"></i></a>
                        </li>

                        <li class="d-inline ps-2">
                            <a href="#facebook" class="" style="display: inline-block; vertical-align: middle; position: relative; border:1px solid #E3E7EC;
                            background-color: #fff;
                            width:0;
                            border-radius:30px;
                            width:40px;
                            height:40px;"><i class="fa-brands fa-instagram" style="line-height:40px; color: #2D3D49;"></i></a>
                        </li>

                        <li class="d-inline ps-2">
                            <a href="#facebook" class="" style="display: inline-block; vertical-align: middle; position: relative; border:1px solid #E3E7EC;
                            background-color: #fff;
                            width:0;
                            border-radius:30px;
                            width:40px;
                            height:40px;"><i class="fa-brands fa-tiktok" style="line-height:40px; color: #2D3D49;"></i></a>
                        </li>

                        <li class="d-inline ps-2">
                            <a href="#facebook" class="" style="display: inline-block; vertical-align: middle; position: relative; border:1px solid #E3E7EC;
                            background-color: #fff;
                            width:0;
                            border-radius:30px;
                            width:40px;
                            height:40px;"><i class="fa-brands fa-facebook-f" style="line-height:40px; color: #2D3D49;"></i></a>
                        </li>
                        
                        <li class="d-inline ps-2">
                            <a href="#facebook" class="" style="display: inline-block; vertical-align: middle; position: relative; border:1px solid #E3E7EC;
                            background-color: #fff;
                            width:0;
                            border-radius:30px;
                            width:40px;
                            height:40px;"><i class="fa-brands fa-linkedin-in" style="line-height:40px; color: #2D3D49;"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

</main>



